### Clean up my csv.

In [1]:
import pandas as pd
import numpy as np

In [2]:
datafile = "../data/Single_Family_Rental.csv"
df = pd.read_csv(datafile)
df.head()

,Unnamed: 0,Unnamed: 0.1,Cost of Single Family Home,Zip Code,Rental Prices,Rental Value 2016
0,0,0,208300.0,29001,0.0,482
1,1,1,208300.0,29003,0.0,719
2,2,2,80700.0,29009,0.0,705
3,3,3,208300.0,29010,0.0,694
4,4,4,208300.0,29014,0.0,594

In [3]:
df = df[["Cost of Single Family Home", "Zip Code", "Rental Value 2016"]]
df["Cost of Single Family Home"] = df["Cost of Single Family Home"].astype(int)
df["Rental Value 2016"] = df["Rental Value 2016"].str.replace(",", "")
df["Rental Value 2016"] = df["Rental Value 2016"].astype(int)
df.head()

   Cost of Single Family Home  Zip Code  Rental Value 2016
0                      208300     29001                482
1                      208300     29003                719
2                       80700     29009                705
3                      208300     29010                694
4                      208300     29014                594

In [4]:
ratio = []
for x in range(len(df["Zip Code"])):
    if df["Cost of Single Family Home"][x] != 0:
        ratio1 = df["Rental Value 2016"][x]/df["Cost of Single Family Home"][x]
        ratio.append(ratio1)
    else:
        ratio.append(0)

In [5]:
df["Ratio"] = ratio
df = df.rename(columns={"Zip Code": "Zip"})
df.head()

   Cost of Single Family Home    Zip  Rental Value 2016     Ratio
0                      208300  29001                482  0.002314
1                      208300  29003                719  0.003452
2                       80700  29009                705  0.008736
3                      208300  29010                694  0.003332
4                      208300  29014                594  0.002852

In [6]:
# normalize to around 1.  multiply by 242.
normalized_ratio = []
for x in range(len(df["Zip"])):
    norm = df["Ratio"][x] * 242
    normalized_ratio.append(norm)

In [7]:
df["Normalized Ratio"] = normalized_ratio
df.to_csv("../data/final_property_data.csv")
df.head()

,Cost of Single Family Home,Zip,Rental Value 2016,Ratio,Normalized Ratio
0,208300,29001,482,0.002314,0.559981
1,208300,29003,719,0.003452,0.835324
2,80700,29009,705,0.008736,2.114126
3,208300,29010,694,0.003332,0.806279
4,208300,29014,594,0.002852,0.690101